.TaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Add {
  height: 35px;
  background-color: #a89a99;
  color: white;
  font-size: 0.7rem;
}

.Input {
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
  width: 55%;
  height: 35px;
}
input,
input::-webkit-input-placeholder {
  font-size: 1.3rem;
  line-height: 4;
}
